@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .nav-link {
    @apply text-base font-medium text-black;
  }

  .nav-link:hover {
    @apply text-primary-500;
  }

  .nav-link.active {
    @apply text-primary-600;
  }

  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply ring-primary-500 border-gray-100/0;
  }

  [type="checkbox"]:checked:hover,
  [type="checkbox"]:checked:focus,
  [type="radio"]:checked:hover,
  [type="radio"]:checked:focus {
    @apply bg-primary-500 border-primary-500 ring-primary-500;
  }

  [type="checkbox"]:focus,
  [type="radio"]:focus {
    @apply ring-primary-500;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply text-primary-500;
  }
}
